include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini
include .editorconfig

exclude docs/hamster_gtk.*

recursive-include tests *
recursive-include hamster_gtk *.py
recursive-include hamster_gtk/resources *
recursive-include requirements *.pip
recursive-include docs *.rst conf.py Makefile make.bat

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.sw?

exclude ci
recursive-exclude ci *

# Files in ``misc`` should not be part of the sdist as they are not part of the
# actual package but just a help for desktop integration and such.
exclude misc
recursive-exclude misc *
