include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini
include .editorconfig

exclude hamster_gtk/resources/hamster-gtk.gresource.xml
exclude docs/hamster_gtk.*

recursive-include tests *
recursive-include hamster_gtk *.py
recursive-include hamster_gtk/resources *.css
recursive-include hamster_gtk/resources *.ui
recursive-include hamster_gtk/resources *.xml
recursive-include requirements *.pip
recursive-include docs *.rst conf.py Makefile make.bat

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.sw?

prune hamster_gtk/resources/css
prune hamster_gtk/resources/gtk
