#DayRowDateBox {
	background: #dfdfdf;
	color: #2e3436;
}

#OverviewDateLabel {
	padding-left: 10px;
	padding-right: 10px;
}

#OverviewTagLabel {
	padding: 2px;
}

#OverviewDescriptionLabel {
	padding-bottom: 20px;
}

#OverviewTagBox {
	background: gray;
	border-radius: 5px;
	border-color: gray;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	color: white;
}

#OverviewFactList {
	background: @bg_color;
}

#OverviewFactBox {
	padding-left: 10px;
	padding-right: 10px;
}

/* EditDialog */
#EditDialogMainBox {
	padding: 15px;
}
